*{
    margin: 0;
    padding: 0;
    
}


.main-visual{
    width: 100%;
    height: 460px;

}
.main-visual img{
    position: absolute;
    width: 100%;
    height: 440px;
    
}


.main-visual h{
    border: 1px solid #fff;
    width: 350px;
    text-align: center;
    position: absolute;
    color: #fff;
    margin-top: 160px;
    margin-left: 560px;
    font-size: 70px;
    font-family: acumin-pro, sans-serif; 
font-weight: 600; 
    font-style: normal;}

ul{

    display: flex;
    justify-content: center;
    list-style: none;
    margin: 20px;
}

li{
    text-align: center;
    font-family:poleno, sans-serif; 
    font-weight: 700;
    border-left: solid 1px black;
    font-size: 25px;
    width: 250px; 
}

li a{
    color: #555;
    transition: 0.4s;
}

li a:hover{
    color: black;
}


#home{
    border-left: none;
    
}

.content{
    width: 100%;
    height: 2200px;  
}

.top-title h{
    color: #555;
    padding-left: 510px;
    font-family:poleno, sans-serif; 
    font-weight: 700;
    font-size: 60px;
}

.top-title{
    background-color: #fff;
    padding-top: 50px;
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
    border: solid 0.5px #555;
}
#box1{
    display: flex;
    justify-content: center;
}

.item h1 {
    border-bottom: solid #eee 1px;
    margin: 10px;
    text-align: center;
}

.item p{
    text-align: center;
}

#item1{
    font-family:poleno, sans-serif;
    border: solid 0.5px #eee;
    margin: 100px;
    padding: 5px;
    box-shadow: 1px 1px 4px;
}

#item2{
    font-family:poleno, sans-serif;
    border: solid 0.5px #eee;
    margin: 100px;
    padding: 5px;
    box-shadow: 1px 1px 4px;
}

.button{
    float: left;
    margin: 20px;
}

#button1 a{
    margin-left: 15px;
    color: #00acee;
    font-size: 12px;
    padding: 5px 22px;
    background: #fff;
    border: 1px solid #00acee;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.5s;
}

#button1 a:hover{
    background: #00caee;
    color:#fff;
}

#button2 a{
    overflow:hidden;
    margin-top: 00px;
    font-size: 12px;
    padding: 5px 22px;
    color:#c6529a;
    border: 1px solid #c6529a;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.5s;
}
#button2 a:hover{
    background:-webkit-linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;
    background:linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;
    color:#fff;
}


#METAL{
    float: left;
    border: solid 1px #eee;
    border-radius: 50%;
    width: 40px;
    height: 28px;
    background-color:#2e3634;
    color:#fff;
    font-size: 10px;
    padding-top: 12px;
    text-align: center;
}

#POP{
    float: left;
    border: solid 1px #eee;
    border-radius: 50%;
    width: 40px;
    height: 28px;
    background-color:#148B90;
    color:#fff;
    font-size: 10px;
    padding-top: 12px;
    text-align: center;
}

#PUNK{
    float: left;
    border: solid 1px #eee;
    border-radius: 50%;
    width: 40px;
    height: 28px;
    background-color:#981D50;
    color:#fff;
    font-size: 10px;
    padding-top: 12px;
    text-align: center;
}

#box2{
    display: flex;
    justify-content: center;
}

#item3{
    font-family:poleno, sans-serif;
     border: solid 0.5px "eee";
    margin: 100px;
    padding: 5px;
    box-shadow: 1px 1px 4px;
}

#item3 .button{
    margin-top: 40px;
}

#item4{
    font-family:poleno, sans-serif;
     border: solid 0.5px #eee;
    margin: 100px;
    padding: 5px;
    box-shadow: 1px 1px 4px;
}

#janru4{
    margin-top: 90px;
}

#item4 .button{
    margin-top: 40px;
}

#box3{
    display: flex;
    justify-content: center;
}

#item5{
    font-family:poleno, sans-serif;
     border: solid 0.5px #eee;
    margin: 100px;
    padding: 5px;
    box-shadow: 1px 1px 4px;
}

#item6{
    font-family:poleno, sans-serif;
     border: solid 0.5px #eee;
    margin: 100px;
    padding: 5px;
    box-shadow: 1px 1px 4px;
}

#box4{
    display: flex;
    justify-content: center;
}

#item7{
    font-family:poleno, sans-serif;
     border: solid 0.5px #eee;
    margin: 100px;
    padding: 5px;
    box-shadow: 1px 1px 4px;
}

#item8{
    font-family:poleno, sans-serif;
     border: solid 0.5px #eee;
    margin: 100px;
    padding: 5px;
    box-shadow: 1px 1px 4px;
}

footer{
    font-size: 20px;
    width: 100%;
    padding-top: 24px;
    text-align: center;
    color: #fff;
    background-color: #555;
    height: 55px;
}
