*{
    margin: 0;
    padding: 0;
    
}

body{
    background-color:#f0ece2;
    
}


.main-visual{
    width: 100%;
    height: 450px;

}
.main-visual img{
    position: absolute;
    width: 100%;
    height: 450px;
    margin-bottom: 0px;
    
}


.main-visual h{
   
    border: 0.5px solid #fff;
    margin-left: 560px;
    width: 400px;
    position: absolute;
    color: #fff;
    margin-top: 160px;
    text-align: center;
    font-size: 70px;
    font-family: acumin-pro, sans-serif; 
    font-weight: 600; 
    font-style: normal; 
}




.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  
}
.global-nav {
  position: fixed;
  right: -320px; /* これで隠れる */
  top: 0;
  width: 300px; /* スマホに収まるくらい */
  height: 100vh;
 padding: 100px 10px 10px 10px;
  background-color: #dfd3c3;
  transition: all .6s;
  z-index: 200;
  overflow-y: auto; /* メニューが多くなったらスクロールできるように */
}
.hamburger {
  position: absolute;
  right: 0;
  top: 0;
  width: 90px; /* クリックしやすいようにちゃんと幅を指定する */
  height: 80px; /* クリックしやすいようにちゃんと高さを指定する */
  cursor: pointer;
  z-index: 300;
}
.global-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.global-nav__item {
  text-align: center;
  padding: 20px 14px;
}
.global-nav__item a {
    font-family:poleno, sans-serif;
    font-size: 40px;
  display: block;
  padding: 8px 0;
  border-bottom: 1px solid #eee;
  text-decoration: none;
  color: #fff;
}
.global-nav__item a:hover {
  background-color: #eee;
}
.hamburger__line {
  position: absolute;
  left: 1px;
  width: 35px;
  height: 2px;
  background-color: #fff;
  transition: all .6s;
}
.hamburger__line--1 {
  top: 20px;
}
.hamburger__line--2 {
  top: 30px;
}
.hamburger__line--3 {
  top: 40px;
}
.black-bg {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background-color: #000;
  opacity: 0;
  visibility: hidden;
  transition: all .6s;
  cursor: pointer;
}
/* 表示された時用のCSS */
.nav-open .global-nav {
  right: 0;
}
.nav-open .black-bg {
  opacity: .8;
  visibility: visible;
}
.nav-open .hamburger__line--1 {
  transform: rotate(45deg);
  top: 20px;
}
.nav-open .hamburger__line--2 {
  width: 0;
  left: 50%;
}
.nav-open .hamburger__line--3 {
  transform: rotate(-45deg);
  top: 20px;
}



li a{
    color: #555;
    transition: 0.4s;
}

li a:hover{
    color: black;
}

.content{
    width: 100%;
    height: 2600px;
    
}



.janru{
    margin: 5px;
}




.top-title{
    padding: 60px 166px;
    margin-left: 150px;
    margin-right: 150px;
}
#box1{
    display: flex;
    justify-content: center;
}

.item h1 {
    border-bottom: solid #eee 1px;
    margin: 10px;
    text-align: center;
}


.item p{
    text-align: center;
}

#item1{
    background-color: #fff;
    font-family:poleno, sans-serif; 
    border: solid 5px #857671;
    margin: 100px;
    box-shadow: 5px 5px 5px #bcbab8;
    
}

#item2{
    background-color: #fff;
    font-family:poleno, sans-serif; 
    border: solid 5px #857671;
    margin: 100px;
    box-shadow: 5px 5px 5px #bcbab8;
}
#item2 .button{
    padding-top: 10px;
}

.button{
    float: left;
    margin: 20px;
}

#button1 a{
    margin-left: 15px;
    color: #00acee;
    font-size: 12px;
    padding: 5px 22px;
    background: #fff;
    border: 1px solid #00acee;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.5s;
}

#button1 a:hover{
    background: #00caee;
    color:#fff;
}

#button2 a{
    overflow:hidden;
    margin-top: 00px;
    font-size: 12px;
    padding: 5px 22px;
    color:#c6529a;
    border: 1px solid #c6529a;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.5s;
}
#button2 a:hover{
    background:-webkit-linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;
    background:linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;
    color:#fff;
}


#METAL{
    float: left;
    border: solid 1px #eee;
    border-radius: 50%;
    width: 40px;
    height: 28px;
    background-color:#2e3634;
    color:#fff;
    font-size: 10px;
    padding-top: 12px;
    margin-bottom: 5px;
    text-align: center;
}

#POP{
    float: left;
    border: solid 1px #eee;
    border-radius: 50%;
    width: 40px;
    height: 28px;
    background-color:#148B90;
    color:#fff;
    font-size: 10px;
    padding-top: 12px;
    text-align: center;
    margin-bottom: 5px;
}

#PUNK{
    float: left;
    border: solid 1px #eee;
    border-radius: 50%;
    width: 40px;
    height: 28px;
    background-color:#981D50;
    color:#fff;
    font-size: 10px;
    padding-top: 12px;
    text-align: center;
    margin-bottom: 5px;
}

#box2{
    display: flex;
    justify-content: center;
}

#item3{
    background-color: #fff;
    font-family:poleno, sans-serif; 
     border: solid 5px #857671;
    margin: 100px;
    box-shadow: 5px 5px 5px #bcbab8;
}

#item4{
    background-color: #fff;
    font-family:poleno, sans-serif; 
     border: solid 5px #857671;
    margin: 100px;
    box-shadow: 5px 5px 5px #bcbab8;
}

#item4 h1{
    font-family: acumin-pro, sans-serif;
}

#janru4{
    margin-top: 90px;
}

#item4 .button{
    margin-top: 40px;
}

#box3{
    display: flex;
    justify-content: center;
}

#item5{
    background-color: #fff;
    font-family:poleno, sans-serif; 
     border: solid  5px #857671;
    margin: 100px;
    box-shadow: 5px 5px 5px #bcbab8;
}

#item6{
    background-color: #fff;
    font-family:poleno, sans-serif; 
     border: solid 5px #857671;
    margin: 100px;
    box-shadow: 5px 5px 5px #bcbab8;
}

#box4{
    display: flex;
    justify-content: center;
}

#item7{
    background-color: #fff;
    font-family:poleno, sans-serif; 
     border: solid 5px #857671;
    margin: 100px;
    box-shadow: 5px 5px 5px #bcbab8;
}
#item7 .button{
    padding-bottom: 10px;
}

#item8{
    background-color: #fff;
    font-family:poleno, sans-serif; 
     border: solid 5px #857671;
    margin: 100px;
   box-shadow: 5px 5px 5px #bcbab8;
}

footer{
    font-size: 20px;
    width: 100%;
    padding-top: 24px;
    text-align: center;
    color: #fff;
    background-color: #555;
    height: 55px;
}








@media screen and (max-width : 480px){


    
*{
    margin: 0;
    padding: 0;
    
}

body{
    background-color:#f0ece2;
    
}


.main-visual{
    width: 380px;
    height: 190px;

}
.main-visual img{
    position: absolute;
    width: 380px;
    height: 160px;
    margin-bottom: 0px;
    
}


.main-visual h{
   
    border: 0.5px solid #fff;
    width: 380px;
    margin-left: 0px;
    margin-top: 60px;
    position: absolute;
    color: #fff;
    text-align: center;
    font-size: 30px;
    font-family: acumin-pro, sans-serif; 
    font-weight: 600; 
    font-style: normal; 
}




.header {
    display: table;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  
}
.global-nav {
  position: fixed;
  right: -300px; /* これで隠れる */
  top: 0;
  width: 180px; /* スマホに収まるくらい */
  height: 100vh;
 padding: 100px 10px 10px 10px;
  transition: all .6s;
  z-index: 200;
  overflow-y: auto; /* メニューが多くなったらスクロールできるように */
}
.hamburger {
  position: absolute;
  right: 0;
  top: 0;
  width: 30px; /* クリックしやすいようにちゃんと幅を指定する */
  height: 30px; /* クリックしやすいようにちゃんと高さを指定する */
  cursor: pointer;
  z-index: 300;
}
.global-nav__list {
    display: block;
  margin: 0;
  padding: 0;
  list-style: none;
}
.global-nav__item {
  text-align: center;
  padding: 20px 14px;
}
.global-nav__item a {
    font-family:poleno, sans-serif;
    font-size: 30px;
  display: block;
  padding: 8px 0;
  border-bottom: 1px solid #eee;
  text-decoration: none;
  color: #fff;
}
.global-nav__item a:hover {
  background-color: #eee;
}
.hamburger__line {
  position: absolute;
  left: 1px;
  width: 15px;
  height: 1px;
  background-color: #fff;
  transition: all .6s;
}
.hamburger__line--1 {
  top: 10px;
}
.hamburger__line--2 {
  top: 15px;
}
.hamburger__line--3 {
  top: 20px;
}
.black-bg {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background-color: #000;
  opacity: 0;
  visibility: hidden;
  transition: all .6s;
  cursor: pointer;
}
/* 表示された時用のCSS */
.nav-open .global-nav {
  right: 0;
}
.nav-open .black-bg {
  opacity: .6;
  visibility: visible;
}
.nav-open .hamburger__line--1 {
  transform: rotate(45deg);
  top: 20px;
}
.nav-open .hamburger__line--2 {
  width: 0;
  left: 50%;
}
.nav-open .hamburger__line--3 {
  transform: rotate(-45deg);
  top: 20px;
}



li a{
    color: #555;
    transition: 0.4s;
}

li a:hover{
    color: black;
}
    

.content{
    width: 100%;
    height: 1200px;
    
}



.janru{
}




.top-title{
    padding: 60px 166px;
    background-color: #f0ece2;
    margin-left: 150px;
    margin-right: 150px;
    border: solid 0.5px ;
}
#box1{
    display: flex;
    justify-content: center;
}
  
    .item img{
        width: 150px;
    }  
    
    .item{
        width: 150px;
        height: 250px;
    }

.item h1 {
    font-size: 17px;
    border-bottom: solid #eee 1px;
    margin: 10px;
    text-align: center;
}


.item p{
    font-size: 8px;
    text-align: center;
}

#item1{
    background-color: #fff;
    font-family:poleno, sans-serif; 
    border: solid 5px #857671;;
    margin: 15px;
    box-shadow: 5px 5px 5px #bcbab8;
    
}

#item2{
    background-color: #fff;
    font-family:poleno, sans-serif; 
    border: solid 5px #857671;
    margin: 15px;
    box-shadow: 5px 5px 5px #bcbab8;
}
#item2 .button{
    padding-top: 10px;
}

.button{
    float: left;
    margin: 10px;
    width: 50px;
}

#button1 a{
    margin-left: 12px;
    color: #00acee;
    font-size: 5px;
    padding: 3px 12px;
    background: #fff;
    border: 1px solid #00acee;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.5s;
}

#button1 a:hover{
    background: #00caee;
    color:#fff;
}

#button2 a{
    overflow:hidden;
    margin-top: 00px;
    font-size: 5px;
    padding: 3px 11px;
    color:#c6529a;
    border: 1px solid #c6529a;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.5s;
}
#button2 a:hover{
    background:-webkit-linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;
    background:linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;
    color:#fff;
}


#METAL{
    float: left;
    border: solid 1px #eee;
    border-radius: 50%;
    width: 30px;
    height: 18px;
    background-color:#2e3634;
    color:#fff;
    font-size: 5px;
    padding-top: 12px;
    margin-bottom: 5px;
    text-align: center;
}

#POP{
    float: left;
    border: solid 1px #eee;
    border-radius: 50%;
    width: 30px;
    height: 18px;
    background-color:#148B90;
    color:#fff;
    font-size: 5px;
    padding-top: 12px;
    text-align: center;
    margin-bottom: 5px;
}

#PUNK{
    float: left;
    border: solid 1px #eee;
    border-radius: 50%;
    width: 30px;
    height: 18px;
    background-color:#981D50;
    color:#fff;
    font-size: 10px;
    padding-top: 12px;
    text-align: center;
    margin-bottom: 5px;
}

#box2{
    display: flex;
    justify-content: center;
}

#item3{
    background-color: #fff;
    font-family:poleno, sans-serif; 
     border: solid 5px #857671;
    margin: 15px;
    box-shadow: 5px 5px 5px #bcbab8;
}

#item4{
    background-color: #fff;
    font-family:poleno, sans-serif; 
     border: solid 5px #857671;
    margin: 15px;
    box-shadow: 5px 5px 5px #bcbab8;
}

#item4 h1{
    font-family: acumin-pro, sans-serif;
}

#janru4{
    margin-top: 0px;
}

#item4 .button{
    margin-top: 20px;
}

#box3{
    display: flex;
    justify-content: center;
}

#item5{
    background-color: #fff;
    font-family:poleno, sans-serif; 
     border: solid  5px #857671;
    margin: 15px;
    box-shadow: 5px 5px 5px #bcbab8;
}

#item6{
    background-color: #fff;
    font-family:poleno, sans-serif; 
     border: solid 5px #857671;
    margin: 15px;
    box-shadow: 5px 5px 5px #bcbab8;
}

#box4{
    display: flex;
    justify-content: center;
}

#item7{
    padding-bottom: 10px;
    background-color: #fff;
    font-family:poleno, sans-serif; 
     border: solid 5px #857671;
    margin: 15px;
    box-shadow: 5px 5px 5px #bcbab8;
}
#item7 .button{
    padding-bottom: 0px;
}
    

#item8{
    padding-bottom: 10px;
    background-color: #fff;
    font-family:poleno, sans-serif; 
     border: solid 5px #857671;
    margin: 15px;
   box-shadow: 5px 5px 5px #bcbab8;
}

footer{
    font-size: 12px;
    width: 380px;
    padding-top: 16px;
    text-align: center;
    color: #fff;
    background-color: #555;
    height: 30px;
}
    


}


