*{margin: 0;
  padding: 0;
}

ul{
    color: #fff;
    list-style:none;
    display: flex;
    justify-content: flex-end;
    margin-left: 850px;
    position: absolute;
}

body{
    background-color: #f0ece2;
}

#navi a{
    color: #fff;
    transition: 0.5s;
}

#navi a:hover{
    border-bottom: 2px solid #fff;
}

.header{
    display: none;
}

li{
    font-size: 20px;
    color: #fff;
    margin: 30px;
    margin-top: 50px;
    font-family: acumin-pro, sans-serif; 
    font-weight: 700; 
font-style: normal;
}

#slide img{
    margin: 0 auto;
    position: absolute;
    width: 100%;
    height: 100vh;
}

#logo h {
    text-align: center;
    border: 1px solid #fff;
    position: absolute;
    height: 150px;
    width: 450px;
    margin-left:500px;
    padding-bottom: 20px;
    margin-top: 400px;
    color: #fff;
    font-size: 80px;
    font-family: acumin-pro, sans-serif; 
    font-weight: 600; 
    font-style: normal; 
}

.main-visual{
    width: 100%;
}

#logo p{
    font-family: acumin-pro, sans-serif; 
font-weight: 600; 
font-style: normal;
    margin-left: 620px;
    position: absolute;
    color: #fff;
    width: 200px;
    height: 50px;
    margin-top: 510px;
    padding-left: 50px;
    font-size: 40px;
}

.content{
    width: 100%;
    margin: 0 auto;
}

#about{
    display: block;
    margin-top: -300px;
    padding-top: 300px;
}

#member{
    display: block;
    margin-top: -150px;
    padding-top: 150px;
}

#contents1{
    padding-top: 1000px;
    height: 500px;
    padding-bottom: 120px;
}

.top-title{
    color: #555;
    font-size: 50px;
    width: 100%;
    text-align: center;
}

#contents1 p{
    width: 100%;
    text-align: center;
    margin-top: 80px;  
    margin-bottom: 30px;
    line-height: 40px;
}

#button1 a{
    color: #00acee;
    margin-left: 580px;
    font-size: 16px;
    padding: 8px 32px;
    border: 1px solid #00acee;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.5s;
}

#button1 a:hover{
    background: #00caee;
    color:#fff;
}

.button{
    float: left;
    margin: 20px;
    display: flex;
    justify-content: center;
}

#button2 a{
    overflow:hidden;
    margin-top: 00px;
    font-size: 16px;
    padding: 8px 32px;
    color:#c6529a;
    border: 1px solid #c6529a;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.5s;
}
#button2 a:hover{
    background:-webkit-linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;
    background:linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;
    color:#fff;
}



#contents2{
    height: 900px;
    width: 100%;
    margin-top:0px;
}

.container{
   margin-top: 180px;;
    display: flex;
    justify-content: center;
} 

.item1{
    margin-right: 100px;
  display: inline-block;
  text-decoration: none;
  background-image:url(1462092.jpg);
  color: #fff;
  width: 250px;
  height: 250px;
  line-height: 120px;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  box-shadow: 2px 5px 15px #333;
  transition: .4s;
}
.item1:hover{
  color: #fff;
  background-color: #555;
 box-shadow: 1px 1px 4px #555;
}
.item1 h1{
    padding-top: 65px;
    
}


.item2{
    margin-right: 100px;
  display: inline-block;
  text-decoration: none;
  background-image:url(G.jpg);
  color: #fff;
  width: 250px;
  height: 250px;
  line-height: 120px;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  box-shadow: 2px 5px 15px #333;
  transition: .4s;
}
.item2:hover{
  color: #fff;
  background-color: #555;
  box-shadow: 0px 0px 0px 5px #555;
 box-shadow: 1px 1px 4px #555;
}
.item2 h1{
    padding-top: 65px;
    
}


.item3{
    margin-right: 100px;
  display: inline-block;
  text-decoration: none;
 background-image: url(B.jpg);
  color: #fff;
  width: 250px;
  height: 250px;
  line-height: 120px;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
 box-shadow: 2px 5px 15px #333;
  transition: .4s;
}
.item3:hover{
  color: #fff;
  background-color: #555;
  box-shadow: 0px 0px 0px 5px #555;
  box-shadow: 1px 1px 4px #555;
}

.item3 h1{
    padding-top: 65px;
    
}

.item4{
    margin: auto 0;
  display: inline-block;
  text-decoration: none;
  background-image: url(146067.jpg);
  color: #fff;
  width: 250px;
  height: 250px;
  line-height: 120px;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  box-shadow: 2px 5px 15px #333;
  transition: .4s;
}

.item4:hover{
  color: #fff;
  background-color: #555;
  box-shadow: 0px 0px 0px 5px #555;
  box-shadow: 1px 1px 4px #555;
}
.item4 h1{
    padding-top: 65px;   
}

#contents3{
    height: 700px;
}

.map{
    float: left;
    background-color: #fff;
    margin-top: 60px;
    padding: 20px;
    margin-left: 300px;
    border: solid 0.5px #eee;
    width: 900px;
    display: flex;
    text-align: center;
    box-shadow: 5px 5px 5px #bcbab8;
    
}

.box{
    position: absolute;
  float: right;
    width: 450px;
    margin-top: 130px;
    margin-left: 900px;
}

.box h1{
    font-family: acumin-pro, sans-serif; 
    font-weight: 700;
    display: block;
}

.box p1{
    font-family: acumin-pro, sans-serif; 
    font-size: 25px;
    margin-left: 42px;
    line-height: 55px;
}

.box p2{
    font-family: acumin-pro, sans-serif; 
    margin-left: 75px;
    font-size: 22px;
    
}


.box p3{
    font-family: acumin-pro, sans-serif; 
    margin-top: 20px;
    margin-left: 25px;
    line-height: 40px;
}

.box p4{
    font-family: acumin-pro, sans-serif; 
    margin-top: 0px;
    margin-left: 25px;
    line-height: 40px;
}

footer{
    font-size: 20px;
    width: 100%;
    padding-top: 20px;
    text-align: center;
    color: #fff;
    background-color: #555;
    height: 40px;
}


@media screen and (max-width : 480px){ 
#slide img{
        width: 380px;
        height: 300px;
    }

    #navi{
        display: none;
    }    
    
    
    
.header {
    display: table;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  
}
.global-nav {
  position: fixed;
  right: -300px; /* これで隠れる */
  top: 0;
  width: 510px; /* スマホに収まるくらい */
  height: 100vh;
 padding: 100px 10px 10px 10px;
  transition: all .6s;
  z-index: 200;
  overflow-y: auto; /* メニューが多くなったらスクロールできるように */
}
.hamburger {
  position: absolute;
  right: 0;
  top: 0;
  width: 30px; /* クリックしやすいようにちゃんと幅を指定する */
  height: 30px; /* クリックしやすいようにちゃんと高さを指定する */
  cursor: pointer;
  z-index: 300;
}
.global-nav__list {
    display: block;
  margin: 0;
  padding: 0;
  list-style: none;
}
.global-nav__item {
  text-align: center;
  padding: 20px 14px;
}
.global-nav__item a {
    font-family:poleno, sans-serif;
    font-size: 30px;
  display: block;
  padding: 8px 0;
  border-bottom: 1px solid #eee;
  text-decoration: none;
  color: #fff;
}
.global-nav__item a:hover {
  background-color: #eee;
}
.hamburger__line {
  position: absolute;
  left: 1px;
  width: 15px;
  height: 1px;
  background-color: #fff;
  transition: all .6s;
}
.hamburger__line--1 {
  top: 10px;
}
.hamburger__line--2 {
  top: 15px;
}
.hamburger__line--3 {
  top: 20px;
}
.black-bg {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background-color: #000;
  opacity: 0;
  visibility: hidden;
  transition: all .6s;
  cursor: pointer;
}
/* 表示された時用のCSS */
.nav-open .global-nav {
  right: 0;
}
.nav-open .black-bg {
  opacity: .6;
  visibility: visible;
}
.nav-open .hamburger__line--1 {
  transform: rotate(45deg);
  top: 20px;
}
.nav-open .hamburger__line--2 {
  width: 0;
  left: 50%;
}
.nav-open .hamburger__line--3 {
  transform: rotate(-45deg);
  top: 20px;
}



li a{
    color: #555;
    transition: 0.4s;
}

li a:hover{
    color: black;
}
    
    
    
#logo h {
    
    text-align: center;
    border: 0.5px solid #fff;
    position: absolute;
    height: 55px;
    width: 380px;
    margin-left:00px;
    padding-bottom: 20px;
    margin-top: 120px;
    color: #fff;
    font-size: 40px; 
     font-family:poleno, sans-serif;
    font-weight: 600; 
    font-style: normal; 
}
    
    #logo p{
    font-family: acumin-pro, sans-serif; 
font-weight: 600; 
font-style: normal;
    margin-left: 110px;
    position: absolute;
    color: #fff;
    width: 380px;
    height: 50px;
    margin-top: 170px;
    padding-left: 50px;
    font-size: 15px;
}
    
    
.content{
    width: 380px;
    margin: 0 auto;
}

#about{
    display: block;
    margin-top: -300px;
    padding-top: 300px;
}

#member{
    display: block;
    margin-top: 0px;
    padding-top: 0px;
}

#contents1{
    padding-top: 350px;
    height: 250px;
}

.top-title{
     font-family:poleno, sans-serif;
    text-align: left;
    margin-left: 10px;
    border-left: 6px solid #555;
    padding-left: 13px;
    color: #555;
    font-size: 40px;
    width: 380px;
}

#contents1 p{
    font-size: 12px;
    width: 380px;
    text-align: left;
    margin-left: 10px;
    margin-top: 50px;  
    margin-bottom: 30px;
    line-height: 20px;
}

#button1 a{
    color: #00acee;
    margin-left: 0px;
    font-size: 10px;
    padding: 6px 22px;
    border: 1px solid #00acee;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.5s;
}

#button1 a:hover{
    background: #00caee;
    color:#fff;
}

.button{
    float: left;
    margin: 20px;
    display: flex;
    justify-content: center;
}

#button2 a{
    overflow:hidden;
    margin-top: 00px;
    font-size: 10px;
    padding: 6px 22px;
    color:#c6529a;
    border: 1px solid #c6529a;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.5s;
}
#button2 a:hover{
    background:-webkit-linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;
    background:linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;
    color:#fff;
}



#contents2{
    height: 700px;
    width: 380px;
}

.container{
   margin-top: 100px;;
} 

.item1{
    font-size: 10px;
    margin-right: 50px;
    margin-left: 250px;
  display: inline-block;
  text-decoration: none;
  background-image:url(1462092.jpg);
  color: #fff;
  width: 140px;
  height: 140px;
  line-height: 120px;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  box-shadow: 2px 5px 15px #333;
  transition: .4s;
}
.item1:hover{
  color: #fff;
  background-color: #555;
 box-shadow: 1px 1px 4px #555;
}
.item1 h1{
    padding-top: 15px;
    
}


.item2{
     font-size: 10px;
    margin-right: 50px;
    margin-top: 50px;
    margin-left: 250px;
  display: inline-block;
  text-decoration: none;
  background-image:url(G.jpg);
  color: #fff;
  width: 140px;
  height: 140px;
  line-height: 120px;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  box-shadow: 2px 5px 15px #333;
  transition: .4s;
}
.item2:hover{
  color: #fff;
  background-color: #555;
  box-shadow: 0px 0px 0px 5px #555;
 box-shadow: 1px 1px 4px #555;
}
.item2 h1{
    padding-top: 15px;
    
}


.item3{
    margin-bottom: 50px;
     font-size: 10px;
    margin-right: 260px;
  display: inline-block;
  text-decoration: none;
 background-image: url(B.jpg);
  color: #fff;
  width: 140px;
  height: 140px;
  line-height: 120px;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
 box-shadow: 2px 5px 15px #333;
  transition: .4s;
}
.item3:hover{
  color: #fff;
  background-color: #555;
  box-shadow: 0px 0px 0px 5px #555;
  box-shadow: 1px 1px 4px #555;
}

.item3 h1{
    padding-top: 15px;
    
}

.item4{
     font-size: 10px;
    margin: auto 0;
  display: inline-block;
  text-decoration: none;
  background-image: url(146067.jpg);
  color: #fff;
  width: 140px;
  height: 140px;
  line-height: 120px;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  box-shadow: 2px 5px 15px #333;
  transition: .4s;
}

.item4:hover{
  color: #fff;
  background-color: #555;
  box-shadow: 0px 0px 0px 5px #555;
  box-shadow: 1px 1px 4px #555;
}
.item4 h1{
    padding-top: 15px;   
}

#contents3{
    height: 700px;
}


    
.box{
        position: absolute;
    }

footer{
    font-size: 12px;
    width: 100%;
    padding-top: 20px;
    text-align: center;
    color: #fff;
    background-color: #555;
    height: 40px;
}

    #contents3{
    height: 700px;
}

.map{
    position: absolute;
    height: 500px;
    margin-top: 60px;
    padding: 20px;
    margin-left: 10px;
    border: solid 0.5px #eee;
    width: 300px;
    display: flex;
    text-align: center;
    box-shadow: 5px 5px 5px #bcbab8;
    
}

.box{
    text-align: center;
    width: 360px;

}

.box h1{
    width: 300px;
    border-bottom: 1px solid #eee;
    margin-top: 400px;
    margin-left: 30px;
    margin-bottom: 10px;
    font-family: acumin-pro, sans-serif; 
    font-weight: 700;
    display: block;
}

.box p1{
    width: 380px;
    padding-right: 80px;
    font-family: acumin-pro, sans-serif; 
    font-size: 20px;
    line-height: 0px;
}

.box p2{
    width: 380px;
    padding-right: 80px;
    font-family: acumin-pro, sans-serif; 
    font-size: 20px;
    line-height: 0px;
}

.box p3 {
    font-family: acumin-pro, sans-serif; 
    line-height: 40px;
    width: 380px;
    padding-left: 10px;
    font-size: 15px;
}

.box p4 {
    font-family: acumin-pro, sans-serif; 
    line-height: 40px;
    width: 380px;
    padding-right: 50px;
    font-size: 15px;
}
    
    
}




